{% extends "layout.njk"%}
{% set pageTitle = 'Home | Got It Pro On-demand Excel help' %}
{% set navbar = {
    context: general.navbar.context,
    logined: home.navbar.logined
    }
%}
{% block pageHeader %}
    {% include "component/_gi-navBar.njk" %}
{% endblock %}

{% block pageBody %}
    <div class="gi-settingPage u-flexGrow-1">
        <div
            class="gi-settingPage-Inner">
            <!-- expert home: -->
            <div class="container">
                <!-- system notification: -->

                <!-- main content: -->
                    <div class="u-flex u-width-100 u-paddingVertical-3"> <div class="u-flexGrow-1 u-paddingRight-3">
                        <div class="u-backgroundWhite u-border">
                            <div class="gi-settingPage-profile">
                                <div class="u-positionRelative u-padding-3 u-textCenter">
                                    <img src="assets/images/profile-empty-icon.png" class=" u-marginTop-2  u-roundedCircle u-ImgFluid" width="96" alt=""/>
                                    <div class="u-textExtraLarge u-fontMedium u-marginBottom-2">Henry</div>
                                    {# <div class="u-textGray">1824</div> #}
                                    <div class="u-textGray u-marginBottom-1">Latest Activity On 03/08/2019</div>
                                    <div class="u-textPrimary u-textLarge">Good Morning!</div>
                                </div>
                            </div>
                            <div class="u-table u-width-100 u-paddingHorizontal-3 u-paddingBottom-3">
                                <div class="u-tableRow u-backgroundLightalt u-textCenter u-textGray">
                                    <div class="u-tableCell u-padding-1" style="border-right: 1px solid #fff;">Earnings</div>
                                    <div class="u-tableCell u-padding-1" style="border-left: 1px solid #fff;">Average</div>
                                </div>
                                <div class="u-tableRow u-textCenter">
                                    <div class="u-tableCell">
                                        <div class="value">
                                            <span>104.25</span>
                                        </div>
                                        <span class="text-muted">USD</span>
                                    </div>
                                    <div class="u-tableCell">
                                        <div class="value">
                                            <span>4.86</span>
                                        </div>
                                        <span class="text-muted">User Rating</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-flexGrow-2 u-flex u-flexColumn">
                        <div class="u-flexGrow-1 u-positionRelative">
                            <a href="labeler.html" class="u-backgroundWhite u-block u-paddingVertical-4 u-paddingHorizontal-2 u-border u-textCenter u-textUppercase u-fontMedium u-textBlack" role="presentation"><img src="assets/images/home/ilu-1.svg" width="120" alt="" style="visibility: visible;"><div class="u-inlineBlock u-marginLeft-2">Start Working</div>
                            </a>
                        </div>
                        <ul class="u-flexGrow-1 row row-5 u-padding-0 u-marginTop-2 u-marginBottom-0">
                            <li class="col-md-3 u-block  u-flexGrow-1">
                                <a class="u-textUppercase u-textCenter u-fontMedium u-backgroundWhite u-border u-height-100 u-block u-padding-2 u-textWhite" href="#">
                                    <img src="assets/images/home/ilu-2.svg" width="90" alt=""/><div class="u-textBlack">Performance</div>
                                </a>
                            </li>
                            <li class="col-md-3 u-block  u-flexGrow-1">
                                <a class="u-textUppercase u-textCenter u-fontMedium u-backgroundWhite u-border u-height-100 u-block u-padding-2 u-textWhite" href="#">
                                    <img src="assets/images/home/ilu-3.svg" width="90" alt=""/>
                                    <div class="u-textBlack">Earnings</div>
                                    <div class="u-textDanger u-textExtraSmall u-textTransformNone u-fontNormal">Complete payment method</div>
                                </a>
                            </li>
                            <li class="col-md-3 u-block  u-flexGrow-1">
                                <a class="u-textUppercase u-textCenter u-fontMedium u-backgroundWhite u-border u-height-100 u-block u-padding-2 u-textWhite" href="#">
                                    <img src="assets/images/home/ilu-4.svg" width="90" alt=""/>
                                    <div class="u-textBlack">Training</div>
                                </a>
                            </li>
                            <li class="col-md-3 u-block u-flexGrow-1">
                                <a class="u-textUppercase u-textCenter u-fontMedium u-backgroundWhite u-border u-height-100 u-block u-padding-2 u-textWhite" href="#">
                                    <img src="assets/images/home/ilu-5.svg" width="90" alt=""/>
                                    <div class="u-textBlack">Subject Tests</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageFooter %}
    <footer class="u-textCenter">
        <span class="u-textLight">&copy;
            {{YEAR}}
            Got It, Inc.</span>
    </footer>
{% endblock %}
{% block extraJS %}{% endblock %}
