.gi-Workspace {
  $this: &;
  height: 100vh;
  overflow: hidden;
  %ex_flex1 {
    display: flex;
    flex: 1;
  }

  &-head {
    min-height: 2rem;
    &Info {
      font: {
        size: px2rem(12);
        style: italic;
      }
      line-height: 2rem;
      color: color(gray);
    }
  }
  &-body {
    @extend %ex_flex1;
    flex-direction: column;
    flex: 1;
    position: relative;
  }

  // set full width for the header:
  .container-fluid {
    max-width: none;
  }

  .alert-suggest {
    position: absolute;
    top: 1rem;
  }

  // Connecting page:
  // ------------------------------
  &--connecting {
    .gi-LayoutSidebar {
      display: none;
    }
    .gi-Workspace-body {
      //min-height: 320px;
      overflow: auto;
    }
  }
  &ConnectingArea {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  // ------------------------------

  // Popup page for excel online file:
  // ------------------------------

  .gi-LayoutMainWrap {
    padding-bottom: 2rem;
    .gi-LayoutMain {
      padding: 0 0.5rem;
    }
  }
  .gi-LayoutMain {
    .gi-Workspace-body {
      height: calc(100% - 2rem);
    }
  }
}

// // Demo Sessions:
// .gi-learningSessionNotification {
//     padding: 0.5rem 1rem;
//     margin-top: -2.5rem;
// }

// new timer:
.gi-WorkspaceHeaderTimer {
  //&-inner {
  font-size: px2rem(18);
  line-height: px2rem(28);
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  //}
  // chat extension:
  .gi-ChatTimer {
    &:first-child {
      // fix the width for the timer:
      .gi-ChatTimer-value {
        width: 4rem;
      }
    }
    &:not(:first-child) {
      margin-left: 3.5rem;
    }
  }
}

.gi-ComposeInfo {
  position: relative;
  height: 0px;
  z-index: 1;

  &-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
