// Layout:
// gi-LayoutWorkspace gi-LayoutWorkspaceAsker
.gi-Layout {
  $this: &;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // HEADER:
  // --------------------------

  &Header {
  }

  // BODY:
  // --------------------------

  &Body {
    display: flex;
    flex: 1;
    position: relative;
  }

  // FOOTER:
  // --------------------------

  &Footer {
  }

  // MAIN:
  // --------------------------

  &Main {
    flex: 1;
    &.is-codemirror {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
  &MainWrap {
    display: flex;
    flex: 1;
  }
  // SIDEBAR:
  // --------------------------
  &Sidebar {
    display: flex;
    flex-direction: column;
  }
}
