.gi-LabelingSpace {
  &-sqlQuery {
    height: calc(100% - 40px);
  }
  &-performance {
    $performance: &;
    &Content {
      //
      display: none;
      max-height: 0;
    }
    &.is-show {
      height: 100%;
      max-height: 210px;
      #{$performance}Content {
        display: flex;
        max-height: calc(100% - 40px);
      }
    }
  }
}
