.gi-settingPage{
  $this:&;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  .div-cell {
      padding: 20px;
  }
  &-profile {
    position: relative;
    &::before {
      content: "";
      z-index: 0;
      position: absolute;
      background-color: #375de7;
      height: 85px;
      top: 0;
      left: 0;
      right: 0;
      border-radius: .25rem .25rem 0 0;
    }
  }
  &-Inner {
      padding: 20px 0;
  }
}