<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% if baseRoot %}
        <base href="../">
    {% endif %}
    <title>
        {% if pageTitle %}
            {{pageTitle}}
        {% endif %}
    </title>
    <style>
        [data-js="true"] {
            display: none;
        }
    </style>
    
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,600|Space+Mono" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% for css in mainCSS %}
        <link href="assets/css/{{css}}.css" rel="stylesheet"/>
    {% endfor %}
    {% for css in extraCSS %}
        <link href="assets/css/{{css}}.css" rel="stylesheet"/>
    {% endfor %}
    <script>
        window.dataQueries = [];
    </script>
</head>
